<h2> <span id="blue"> login to </span> Miwitter</h2>

<% if @error %>
	<%= @error %>
<% end %>

<%= render 'login_form' %>

<span id="blue"> new user ? no problem <%= link_to 'click here', new_user_path %> </span>