<h2> <span id="blue"> register to </span> Miwitter </h2>

<%= render 'user_form' %>

<% if @errors %>
	<% @errors.each do |e| %>
		<li> <%= e %> </li>
	<% end %>
<% end %>

<%= link_to 'already signed up ? click here', login_path %>