<h2 id="green"> <span id="blue"> sign up to </span> Miwitter </h2>

<% if @errors %>
	<% @errors.each do |e| %>
		<li id="red"> <%= e %> </li>
	<% end %>
<% end %>

<%= render 'user_form' %>

<span id="blue"> already signed up ? no problem <%= link_to 'click here', login_path %> </span>