<div id="new_hashtag">
	new hashtag
</div>

<div id="slide_2">
	<div id="form-hashtag">
		<div id="form-hashtag">
			<%= form_for @hashtag do |f| %>

				<%= f.text_field :name, { placeholder: 'hashtag' } %>

				<%= f.submit 'hashtag' %>
			<% end %>
		</div>
	</div>
</div>