<h2> hashtag page </h2>

<h2> <%= @hashtag.name %> </h2>

<% @tweets.each do |t| %>
	<li> <%= t.body %> </li>
	Tweeted by : <%= link_to User.find(t.user_id).username, user_path(t.user_id) %>
<% end %>

<h4> <%= link_to 'Back', hashtags_path %> </h4>